* {
    margin: 0;
    padding: 0;
}

section {
    max-width: 900px;
    margin: 30px;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

div {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 102, 255);
}

div:nth-of-type(1) {
    grid-column: 1/3;
}

div:nth-of-type(2) {
    grid-row: 1/3;
    grid-column: 3/4;
}

div:nth-of-type(3) {
    grid-row: 2/4;
}

div:nth-of-type(5) {
    grid-column: 2/4;
}